@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

.background {
	object-fit: cover;
	position: relative;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
}
.rules,
.playground,
.result {
	position: absolute;
}

/* Styles for rules */
#game-rules-registration {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rules {
	width: 30%;
	left: 40px;
	top: 40px;
	&__title,
	&__rules-info {
		margin: 0px 0px 10px 0px;
		text-align: center;
		color: purple;
		letter-spacing: 2.5px;
	}
	&__title {
		font-size: 60px;
		color: purple;
	}
	&__rules-info {
		font-size: 30px;
	}
}
.registration {
	margin: 30px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.registration label,
.registration input {
	color: purple;
}
.registration label,
.registration input {
	margin: 0px 0px 10px 0px;
}
.registration label {
	font-size: 30px;
}
#registration-name,
#registration-button {
	height: 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}
#registration-name {
	width: 50%;
}
#registration-button {
	width: 30%;
	background-color: purple;
	color: white;
}

/* game styles */
#game {
	background-image: url(../images/space-bg.jpg);
	height: 100vh;
}
.site-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
.header {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
}
.counters {
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 25px;
}
.content {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

// styles for drawing in canvas
#playground {
	width: 1920px;
	height: 300px;
}
/* Syles for game-result */
#game-result {
	display: flex;
	justify-content: center;
	align-items: center;
}
.result {
	text-align: start;
	border: 1px solid white;
	padding: 20px;
	position: absolute;
	left: 40%;
	top: 35%;
	&__title,
	&__item,
	&__button {
		color: white;
		margin: 10px 10px 10px 10px;
		letter-spacing: 2px;
	}
	&__title {
		font-size: 40px;
	}
	&__item,
	&__button {
		font-size: 25px;
	}
	&__button {
		background-color: gray;
		padding: 5px;
		border-radius: 5px;
	}
}
